body {
	margin-top: 70px;
}

.pointer {
	cursor: pointer
}

.buttons {
	position: absolute;
	top: 80px;
	right: 10px;
	display: flex;
	flex-direction: column;
}

.grid {
	max-width: 45vh;
	max-height: 45vh;
}