body {
	margin-top: 70px;
}

.pointer {
	cursor: pointer
}

.buttons {
	position: absolute;
	top: 80px;
	right: 10px;
	display: flex;
	flex-direction: column;
}

.grid {
	max-width: 40vh;
	max-height: 40vh;
}

img.item {
	width: 150px;
	height: 150px;
}